{% extends 'layout.html' %}

{% block title %}Szukaj{% endblock %}

{% block content %}
  <form action="{{ url_for('search') }}" method="get">
    <label for="start_time">Godzina odjazdu:</label>
    <input type="time" name="start_time" id="start_time">
    <br>
    <label for="start_stop_name">Przystanek początkowy:</label>
    <input type="text" name="start_stop_name" id="start_stop_name">
    <br>
    <label for="end_stop_name">Przystanek końcowy:</label>
    <input type="text" name="end_stop_name" id="end_stop_name">
    <br>
    <button type="submit">Wyszukaj połączenie</button>
  </form>
{% endblock %}
